doctype html
//if IE 8
    <html class="ie8" lang="en">
//if IE 9
    <html class="ie9" lang="en">
html(lang="en")
  head
    include includes/head
    include includes/var
  body
    // if lts IE 9
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    header 
      include includes/nav
    aside
      include includes/preloader
    main.animate
      article
        section.container-fluid
          .row
            #carouselExampleIndicators.carousel.slide(data-ride="carousel")
              ol.carousel-indicators
                li.active(data-target="#carouselExampleIndicators" data-slide-to="0")
                li(data-target="#carouselExampleIndicators" data-slide-to="1")
                li(data-target="#carouselExampleIndicators" data-slide-to="2")
              .carousel-inner
                .carousel-item.active
                  img.d-block.w-100(src="http://placehold.it/1900x1080?auto=yes&bg=777&fg=555&text=First slide" alt="First slide") 
                .carousel-item
                  img.d-block.w-100(src="http://placehold.it/1900x1080?auto=yes&bg=666&fg=444&text=Second slide" alt="Second slide")
                .carousel-item
                  img.d-block.w-100(src="http://placehold.it/1900x1080?auto=yes&bg=555&fg=333&text=Third slide" alt="Third slide")
              a.carousel-control-prev(href="#carouselExampleIndicators" role="button" data-slide="prev")
                span.carousel-control-prev-icon(aria-hidden="true")
                span.sr-only Previous
              a.carousel-control-next(href="#carouselExampleIndicators" role="button" data-slide="next")
                span.carousel-control-next-icon(aria-hidden="true")
                span.sr-only Next
        section.container
          .row(data-scroll=scrollTrigger.fromTop)
            .col-md-12
              h1.my-4 Welcome to #{client.companyName}
              hr
              h3 Our Contact Details
              p Compnay Email: #{client.companyEmail}
              p Company Landline: #{client.companyPhoneNumber}
          .row(data-scroll=scrollTrigger.fromTop)
            .col-lg-4.mb-4
              .card.h-100
                h4.card-header Card Title
                .card-body
                  p.card-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.
                .card-footer
                  a.btn.btn-primary(href="#") Learn More
            .col-lg-4.mb-4
              .card.h-100
                h4.card-header Card Title
                .card-body
                  p.card-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis ipsam eos, nam perspiciatis natus commodi similique totam consectetur praesentium molestiae atque exercitationem ut consequuntur, sed eveniet, magni nostrum sint fuga.
                .card-footer
                  a.btn.btn-primary(href="#") Learn More
            .col-lg-4.mb-4
              .card.h-100
                h4.card-header Card Title
                .card-body
                  p.card-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.
                .card-footer
                  a.btn.btn-primary(href="#") Learn More
        section.container
          h2 Portfolio Heading
          .row(data-scroll=scrollTrigger.fromTop)
            .col-lg-12.portfolio-item.perfundo
              a.perfundo__link(href="#perfundo-single2")
                img.card-img-top(src="http://placekitten.com/g/700/400" alt="Demo image")
          #perfundo-single2.perfundo__overlay.fadeInLeft
            figure.perfundo__content.perfundo__figure
              img(src="http://placekitten.com/g/700/400" alt="Demo image")
              .perfundo__image(style="width: 800px; padding-top: 56.25%; background-image: url(http://placekitten.com/g/700/400);")
              figcaption.perfundo__figcaption Single image with caption
            a.perfundo__close.perfundo__control(href="#perfundo-untarget") Close
          .row(data-scroll=scrollTrigger.fromTop)
            .col-lg-4.col-sm-6.portfolio-item
              .card.h-100
                a.perfundo(href="http://placehold.it/700x400")
                  img.card-img-top(src="http://placehold.it/700x400" alt="")
                .card-body
                  h4.card-title
                    a(href="#") Project One
                  p.card-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur eum quasi sapiente nesciunt? Voluptatibus sit, repellat sequi itaque deserunt, dolores in, nesciunt, illum tempora ex quae? Nihil, dolorem!
            .col-lg-4.col-sm-6.portfolio-item
              .card.h-100
                a.perfundo(href="http://placehold.it/700x400")
                  img.card-img-top(src="http://placehold.it/700x400" alt="")
                .card-body
                  h4.card-title
                    a(href="#") Project Two
                  p.card-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.
            .col-lg-4.col-sm-6.portfolio-item
              .card.h-100
                a.perfundo(href="http://placehold.it/700x400")
                  img.card-img-top(src="http://placehold.it/700x400" alt="")
                .card-body
                  h4.card-title
                    a(href="#") Project Three
                  p.card-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos quisquam, error quod sed cumque, odio distinctio velit nostrum temporibus necessitatibus et facere atque iure perspiciatis mollitia recusandae vero vel quam!
            .col-lg-4.col-sm-6.portfolio-item
              .card.h-100
                a(href="#")
                  img.card-img-top(src="http://placehold.it/700x400" alt="")
                .card-body
                  h4.card-title
                    a(href="#") Project Four
                  p.card-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.
            .col-lg-4.col-sm-6.portfolio-item
              .card.h-100
                a(href="#")
                  img.card-img-top(src="http://placehold.it/700x400" alt="")
                .card-body
                  h4.card-title
                    a(href="#") Project Five
                  p.card-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.
            .col-lg-4.col-sm-6.portfolio-item
              .card.h-100
                a(href="#")
                  img.card-img-top(src="http://placehold.it/700x400" alt="")
                .card-body
                  h4.card-title
                    a(href="#") Project Six
                  p.card-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque earum nostrum suscipit ducimus nihil provident, perferendis rem illo, voluptate atque, sit eius in voluptates, nemo repellat fugiat excepturi! Nemo, esse.
        section.container
          .row(data-scroll=scrollTrigger.fromTop)
            .col-lg-6
              h2 Modern Business Features
              p The Modern Business template by Start Bootstrap includes:
              ul
                li
                  strong Bootstrap v4
                li jQuery
                li Font Awesome
                li Working contact form with validation
                li Unstyled page elements for easy customization
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, omnis doloremque non cum id reprehenderit, quisquam totam aspernatur tempora minima unde aliquid ea culpa sunt. Reiciendis quia dolorum ducimus unde.
            .col-lg-6
              img.img-fluid.rounded(src="http://placehold.it/700x450" alt="")
        section.container
          hr
          .row.mb-4(data-scroll=scrollTrigger.fromTop)
            .col-md-8
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, expedita, saepe, vero rerum deleniti beatae veniam harum neque nemo praesentium cum alias asperiores commodi.
            .col-md-4
              a.btn.btn-lg.btn-secondary.btn-block(href="#") Call to Action
    include includes/footer